name: Smoketest and publish
on:
  push:
    tags:
      - "*"

permissions:
  id-token: write
  contents: read

jobs:
  format_check:
    runs-on: ubuntu-latest
    name: Check formatting

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Check formatting
        run: |
          yarn format-check

      - name: Validate ARFCN lists
        run: |
          yarn test

  build_test:
    runs-on: ubuntu-latest
    name: Test build

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Build library
        run: |
          yarn build

  publish:
    runs-on: ubuntu-latest
    name: Publish
    needs: ["format_check", "build_test"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Build and publish library to npm
        run: |
          yarn pub
